client_secret.json
config.json
bin/*
ffmpeg/*
obj/*
/commands/admin/Текстовый документ.txt
/commands/funny/Текстовый документ.txt
/commands/moderation/Текстовый документ.txt
/commands/other/Текстовый документ.txt
/vk_config.json
